<p>axis-page works!</p>
<mc-card-rounded [title]="'Recorrido de aprendizaje'">

  <div card-header-left>
    <span class="text-sm font-semibold text-slate-500 uppercase">Icon</span>
  </div>

  <div card-header-right>
    <button >Ver todos los talleres</button>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <span class="text-xs font-semibold text-slate-500 uppercase">Título</span>
      <span class="text-sm font-semibold text-slate-500 uppercase">Descripción</span>
    </div>
  </div>
</mc-card-rounded>
