<mc-page-heading [breadcrumb]="breadcrumb" title="Simple test page" subtitle="This page is for a example of the new MC KIT.">
  <button>Testing</button>
</mc-page-heading>

<mc-simple-page [breadcrumb]="breadcrumb" title="Simple test page" subtitle="This page is for a example of the new MC KIT.">
  <div>
    Aqui todo el contenido de la pagina de prueba...
  </div>
</mc-simple-page>

<mc-mini-resume-card [title]="'USD'" [subtitle]="'Billetera'" [value]="350000|currency"></mc-mini-resume-card>

<h2>Filter Button</h2>
<mc-filter-button [config]="filterConfig" (change)="onFilter($event)"></mc-filter-button>

<h2>List</h2>
<div class="">
  <mc-two-column-item [title]="'Item 1'" [subtitle]="'25/08/1989'" [value]="5000|currency"></mc-two-column-item>
  <mc-two-column-item [title]="'Item 2'" [subtitle]="'25/08/1989'" [value]="5000|currency"></mc-two-column-item>
  <mc-two-column-item [title]="'Item 3'" [subtitle]="'25/08/1989'" [value]="5000|currency"></mc-two-column-item>
  <mc-two-column-item [title]="'Item 4'" [subtitle]="'25/08/1989'" [value]="5000|currency"></mc-two-column-item>
</div>

<h2>Table</h2>
<mc-table [columns]="tableColumns" [response]="tableResponse">
  <ng-template mcThTemplate="game_number">
    <h2>Game Test Head # <p-button label="send" /></h2>
  </ng-template>
</mc-table>
